.mint-switch-core::before {
  background-color: #787878
}
.mint-field .mint-cell-title
  width: auto
.mint-cell
  min-height: 88px;/*px*/
  font-size: 40px;/*px*/
  .mint-cell-wrapper
    font-size: 28px;/*px*/
    padding: 0 30px
    .mint-cell-title
      margin-right: 20px
    .mint-cell-value
      font-size:  24px;/*px*/
  .mintui
    font-size: 28px/*px*/

.mint-button.is-disabled
  background-color: #c2c2c2

.mint-button--primary
  background-color: #247ef2;

.llh-btn-lg
  width: 650px;/*px*/
  height: 88px;/*px*/
  background-color: #247ef2;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  border-radius: 8px

.llh-btn-sm
  width: 240px;/*px*/
  height: 88px;/*px*/
  background-color: #247ef2;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  border-radius: 8px

.m-toast
  span 
    font-size:30px

.mint-msgbox
  font-size: 28px;
  border-radius: 8px;
  .mint-msgbox-header
    padding: 30px 0px 0px;
    .mint-msgbox-title
      font-size: 28px
  .mint-msgbox-content
    min-height: 72px;
    padding: 20px 40px 30px;
    .mint-msgbox-message
      line-height: 72px;
  .mint-msgbox-btns
    height: 80px;/*px*/
    line-height: 80px;/*px*/
    font-size: 28px
      
// 重置  navbar样式
.mint-navbar .mint-tab-item
  padding: 26px 0;
  font-size: 28px;
  color: #282828;
.mint-tab-item-label
  font-size: 28px;


// indicator
.mint-indicator-wrapper
  border-radius: 10px;
  font-size: 32px;
  .mint-indicator-text
    font-size: 32px;
  .mint-indicator-spin
    width: 64px;/*px*/
    height: 64px;/*px*/
.mint-spinner-snake
  width: 64px!important;
  height: 64px!important;


.mint-cell-allow-right:after
  width: 10px;
  height: 10px;
  border-width: 4px;
  border-left-width: 0;
  border-bottom-width: 0;

